.App-link {
  color: #61dafb;
}

.headerText {
  margin: auto;
  max-width: 200px;
  padding: 10px;
}

.appTitle {
  text-align: center;
  padding: 15px;
  max-width: 50%
}

.auth-card {
  max-width: 50%;
  margin: auto;
}
.card {
  margin: 15px;
  max-width: 300px;
}
.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.topBar {
  display: flex;
  flex-direction: row!important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 1%;
  padding-right: 1%;
  height: 100px;
}

.parent-app {
  display: flex;
  flex-direction: column;
}


